[submodule "OSHP_files/HadesFCS"]
	path = OSHP_files/HadesFCS
	url = https://github.com/pms67/HadesFCS
[submodule "OSHP_files/CF-Chef"]
	path = OSHP_files/CF-Chef
	url = https://github.com/reilleya/CF-Chef
