[submodule "OSHP_files/Clean/acorn-robot-electronics"]
	path = OSHP_files/Clean/acorn-robot-electronics
	url = https://github.com/Twisted-Fields/acorn-robot-electronics
[submodule "OSHP_files/Clean/CF-Chef"]
	path = OSHP_files/Clean/CF-Chef
	url = https://github.com/reilleya/CF-Chef
